body {
    padding-top: 21px;

}

.l-container
{
    max-width: $gridWidth; 
    margin: auto;
    /*@include background-grid();*/
}

.l-twocolumns{
    padding-top: 36px;
    border-bottom: 1px solid $grey;
    @include clearfix();
    clear:both; /*todo*/
}

.l-twocolumns-allarticles {
    padding-top: 0;
}

.l-contentbar,
article
{
    @include grid-span(8);
}

aside
{
    @include grid-span(4);
}

.l-contentbar-allarticles {
    @include grid-span(9);
}

.l-aside-allarticles {
    @include grid-span(3);
}





